{{#if type}}
  <div class="alert alert-{{type}}" role="alert">
    {{message}}
  </div>
{{/if}}

<div class="row">
  <!--card-conatiner-->
  <div class="col-sm-12 col-md-6">
    <div class="row" id="counters-card-container">
      <!--Card-->
      <div class="col-12 col-sm-6">
        <div class="card">
          <div class="card-header card-inverse bg-accent-color">
            Counter 1 - Name
          </div>
          <div class="card-body">
            <div class="special-card">
              <span class="special-card-icon fa fa-id-badge"></span>
              <span class="special-card-text">78</span> 
            </div>
            <div class="card-subtitle">
              Name: PhoolanDevi
            </div>    
          </div>
          <div class="card-footer text-muted">
            <small>Updated At - 27/02/2018 20:33:21</small>
          </div>
        </div>
      </div>
      
      
      

    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="card">
        <div class="card-header bg-accent-color">
          History <span class="fa fa-history"></span>  
        </div>
        <table class="table table-striped table-resposive history-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Task</th>
              <th>Description</th>
              <th>CreatedAt</th>
            </tr>
          </thead>
          <tbody id="counterHistoryTable">
            
          </tbody>
        </table>
      </div>
  </div>
</div>

<div class="row">
  
  <div class="col-sm-12 col-md-6">
    <!--Add Counter-->
    <div class="card">
      <div class="card-header">
        Add a counter
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Fill in the details to add a counter</h6>

        <form id="addCount" method="post" action="/admin/counters">
          <div class="form-group">
            <label for="addCount-name">Name</label>
            <div class="input-group">
              <div class="input-group-addon">
                <span class="fa fa-user"></span>
              </div>
              <input name="counterName" type="text" class="form-control" id="addCount-name" placeholder="Counter Name">
            </div>
          </div>
          <div class="form-group">
            <label for="addCount-desc">Description</label>
            <textarea name="counterDescription" type="tel" class="form-control" id="addCount-desc" placeholder="Counter Description" row="3"></textarea>
          </div>
          <button id="addCount-submit" type="button" class="btn btn-accent btn-round full-width">Submit <span class="fa fa-upload"></span></button>
        </form>

      </div>
    </div>
  </div>
  <!--delete counter-->
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header card-inverse bg-danger">Remove a counter <span class="fa fa-trash"></span></div>
      <div class="card-body">
        <div class="card-subtitle text-muted">Remove a Counter by its id</div>

        <form id="deleteCount">
          <div class="form-group">
            <input id="deleteCount-id" type="number" class="form-control">
          </div>
          <button="button" id="deleteCount-submit" class="btn btn-danger full-width btn-round">Remove <span class="fa fa-trash"></span></button>
        </form>

      </div>
    </div>
  </div>

</div>
<!-- /.row -->

<script src="/js/admin-counters.js" charset="utf-8"></script>