.btn-primary
  color: white
  background: $primary-color
  border: 1px solid $primary-color

  &:hover
    background: $primary-color-dark
    border: 1px solid $primary-color-dark

  &:disabled
    background: $primary-color-light
    border: 1px solid $primary-color-light

    &:hover
      background: $primary-color-light
      border: 1px solid $primary-color-light

.btn-outline-primary
  color: $primary-color
  border: 1px solid $primary-color
  &:hover
    color: white
    background-color: $primary-color-dark
    border: 1px solid $primary-color-dark
